# <font color='blue'>Data Science Academy - Machine Learning</font>

# <font color='blue'>Capítulo 12 - Processamento de Linguagem Natural</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Introdução ao Processamento de Linguagem Natural

Tudo o que expressamos (verbalmente ou por escrito) carrega enormes quantidades de informação. 

O tópico que escolhemos, nosso tom, nossa seleção de palavras, tudo acrescenta algum tipo de informação que pode ser interpretada e com o valor extraído dela. Em teoria, podemos entender e até prever o comportamento humano usando essas informações.

Mas há um problema: uma pessoa pode gerar centenas ou milhares de palavras em uma declaração, cada sentença com sua complexidade correspondente. Se você deseja dimensionar e analisar várias centenas, milhares ou milhões de pessoas ou declarações em uma determinada região, a situação é incontrolável.

Dados gerados a partir de conversas, declarações ou até tweets são exemplos de dados não estruturados. Os dados não estruturados não se encaixam perfeitamente na estrutura tradicional de linhas e colunas de bancos de dados relacionais e representam a grande maioria dos dados disponíveis no mundo real. É confuso e difícil de manipular. 

No entanto, graças aos avanços em disciplinas como aprendizado de máquina, uma grande revolução está acontecendo em relação a esse tópico. Atualmente, não se trata mais de tentar interpretar um texto ou discurso com base em suas palavras-chave (a maneira mecânica antiquada), mas de entender o significado por trás dessas palavras (a maneira cognitiva). Dessa forma, é possível detectar figuras de linguagem como ironia, ou mesmo realizar análises de sentimentos.

### O Que é Processamento de Linguagem Natural?

O Processamento de Linguagem Natural, geralmente abreviado como PLN, é um ramo da Inteligência Artificial que lida com a interação entre computadores e seres humanos usando a linguagem natural.

O objetivo final em PLN é ler, decifrar, entender e prever as linguagens humanas de uma maneira valiosa. A maioria das técnicas de PLN depende do aprendizado de máquina para derivar significado das linguagens humanas.

### Casos de Uso

Em termos simples, PLN representa o tratamento automático da linguagem humana natural, como fala ou texto, e, embora o conceito em si seja fascinante, o valor real por trás dessa tecnologia vem dos casos de uso.

PLN pode ajudá-lo com muitas tarefas e os campos de aplicação parecem aumentar diariamente. Vamos mencionar alguns exemplos:

- PLN permite o reconhecimento e a previsão de doenças com base em registros eletrônicos de saúde e na fala do próprio paciente. Essa capacidade está sendo explorada em condições de saúde que vão de doenças cardiovasculares a depressão e até esquizofrenia. Por exemplo, o Amazon Comprehend Medical é um serviço que usa PLN para extrair condições de doenças, medicamentos e resultados de tratamento de anotações de pacientes, relatórios de ensaios clínicos e outros registros eletrônicos de saúde.


- As organizações podem determinar o que os clientes estão dizendo sobre um serviço ou produto, identificando e extraindo informações em fontes como mídia social. Essa análise de sentimentos pode fornecer muitas informações sobre as escolhas dos clientes e seus motivadores de decisão.


- Um inventor da IBM desenvolveu um assistente cognitivo que funciona como um mecanismo de pesquisa personalizado, aprendendo tudo sobre você e depois lembrando um nome, uma música ou qualquer coisa que você não consegue lembrar no momento em que precisa.


- Empresas como Yahoo e Google filtram e classificam seus e-mails com PLN, analisando o texto nos e-mails que fluem através de seus servidores e interrompendo o spam antes mesmo de entrarem na sua caixa de entrada.


- Para ajudar a identificar notícias falsas, o Grupo NLP do MIT desenvolveu um novo sistema para determinar se uma fonte é precisa ou politicamente tendenciosa, detectando se uma fonte de notícias pode ser confiável ou não.


- O Alexa da Amazon e o Siri da Apple são exemplos de interfaces inteligentes orientadas por voz que usam PLN para responder às solicitações vocais e fazem de tudo, como encontrar uma loja em particular, informar a previsão do tempo, sugerir o melhor caminho para o escritório ou acender as luzes em casa.


- Ter uma ideia do que está acontecendo e do que as pessoas estão falando pode ser muito valioso para os operadores financeiros. PLN está sendo usada para rastrear notícias, relatórios, comentários sobre possíveis fusões entre empresas; tudo pode ser incorporado a um algoritmo de negociação para gerar lucros maciços. Lembre-se: compre o boato, venda as notícias.


- PLN também está sendo usado nas fases de busca e seleção do recrutamento de talentos, identificando as habilidades de possíveis contratados e também identificando perspectivas antes que elas se tornem ativas no mercado de trabalho.

- Desenvolvido pela tecnologia IBM Watson NLP, o LegalMation desenvolveu uma plataforma para automatizar tarefas rotineiras de litígio e ajudar as equipes jurídicas a economizar tempo, reduzir custos e mudar o foco estratégico.

E os exemplos não param. PLN é um campo ativo e cada vez mais presente em nossas vidas.

In [ ]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
!pip install -q -U watermark

## Instalação do pacote NLTK
http://www.nltk.org/index.html

http://www.nltk.org/book/

In [ ]:
# Instalação do módulo NLTK
!pip install -q nltk

In [ ]:
# Instalacao do modulo spacy - https://spacy.io/usage
!pip install -U spacy

In [1]:
# Imports
import re
import nltk
import spacy
import string
import numpy as np
import pandas as pd

In [2]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

spacy : 2.3.4
re    : 2.2.1
numpy : 1.17.2
nltk  : 3.4.5
pandas: 0.25.1

In [ ]:
# Instalando os arquivos de dados e dicionários do NLTK
nltk.download('all')

## Tokenization

Processo de dividir uma string em listas de pedaços ou "tokens". Um token é uma parte inteira. Por exemplos: uma palavra é um token em uma sentença. Uma sentença é um token em um parágrafo.

### Dividindo um Parágrafo em Frases

In [3]:
from nltk.tokenize import sent_tokenize

In [4]:
paragrafo = "Seja Bem-vindo a Data Science Academy. Bom saber que você está aprendendo PLN. Obrigado por estar conosco."

In [5]:
?sent_tokenize

Signature: sent_tokenize(text, language='english')
Docstring:
Return a sentence-tokenized copy of *text*,
using NLTK's recommended sentence tokenizer
(currently :class:`.PunktSentenceTokenizer`
for the specified language).

:param text: text to split into sentences
:param language: the model name in the Punkt corpus
File:      ~/anaconda3/lib/python3.7/site-packages/nltk/tokenize/__init__.py
Type:      function

In [7]:
# Dividindo o parágrafo em frases
frases = sent_tokenize(paragrafo)

In [8]:
type(frases)

list

In [9]:
print(frases)

['Seja Bem-vindo a Data Science Academy.', 'Bom saber que você está aprendendo PLN.', 'Obrigado por estar conosco.']

#### Usando um dicionário

In [10]:
# Utilizando dicionário do pacote NLTK
tokenizer = nltk.data.load('tokenizers/punkt/portuguese.pickle')

In [11]:
tokenizer.tokenize(paragrafo)

['Seja Bem-vindo a Data Science Academy.',
 'Bom saber que você está aprendendo PLN.',
 'Obrigado por estar conosco.']

In [12]:
# Dicionário em espanhol
spanish_tokenizer = nltk.data.load('tokenizers/punkt/spanish.pickle')

In [13]:
spanish_tokenizer.tokenize('Hola amigo. Estoy bien.')

['Hola amigo.', 'Estoy bien.']

### Dividindo uma Frase em Palavras

In [14]:
from nltk.tokenize import word_tokenize

In [16]:
word_tokenize('Data Science Academy')

['Data', 'Science', 'Academy']

In [18]:
from nltk.tokenize import TreebankWordTokenizer

In [19]:
tokenizer = TreebankWordTokenizer()

In [20]:
tokenizer.tokenize('Inteligência Artificial')

['Inteligência', 'Artificial']

In [21]:
word_tokenize("can't") # cannot

['ca', "n't"]

In [22]:
from nltk.tokenize import WordPunctTokenizer

In [23]:
tokenizer = WordPunctTokenizer()

In [24]:
tokenizer.tokenize("Can't is a contraction.")

['Can', "'", 't', 'is', 'a', 'contraction', '.']

In [25]:
from nltk.tokenize import RegexpTokenizer

In [ ]:
?RegexpTokenizer

In [27]:
tokenizer = RegexpTokenizer("[\w']+")

In [28]:
tokenizer.tokenize("Can't is a contraction.")

["Can't", 'is', 'a', 'contraction']

In [29]:
from nltk.tokenize import regexp_tokenize

In [30]:
?regexp_tokenize

Signature:
regexp_tokenize(
    text,
    pattern,
    gaps=False,
    discard_empty=True,
    flags=<RegexFlag.UNICODE|DOTALL|MULTILINE: 56>,
)
Docstring:
Return a tokenized copy of *text*.  See :class:`.RegexpTokenizer`
for descriptions of the arguments.
File:      ~/anaconda3/lib/python3.7/site-packages/nltk/tokenize/regexp.py
Type:      function

In [31]:
regexp_tokenize("Can't is a contraction.", "[\w']+")

["Can't", 'is', 'a', 'contraction']

In [32]:
tokenizer = RegexpTokenizer('\s+', gaps = True)

In [33]:
tokenizer.tokenize("Can't is a contraction.")

["Can't", 'is', 'a', 'contraction.']

In [35]:
# Uma operação única com List Comprehension

# Texto a ser tokenizado
texto = "Seja Bem-vindo a Data Science Academy. Bom saber que você está aprendendo PLN. Obrigado por estar conosco."

# List Comprehension
print([word_tokenize(frase) for frase in sent_tokenize(texto)])

[['Seja', 'Bem-vindo', 'a', 'Data', 'Science', 'Academy', '.'], ['Bom', 'saber', 'que', 'você', 'está', 'aprendendo', 'PLN', '.'], ['Obrigado', 'por', 'estar', 'conosco', '.']]

## Stopwords

Stopwords são palavras comuns que normalmente não contribuem para o significado de uma frase, pelo menos com relação ao propósito da informação e do processamento da linguagem natural. São palavras como "The" e "a" ((em inglês) ou "O/A" e "Um/Uma" ((em português). Muitos mecanismos de busca filtram estas palavras (stopwords), como forma de economizar espaço em seus índices de pesquisa.

In [36]:
from nltk.corpus import stopwords

In [37]:
english_stops = set(stopwords.words('english'))

In [ ]:
english_stops

In [39]:
palavras = ["Can't", 'is', 'a', 'contraction']

In [40]:
[palavra for palavra in palavras if palavra not in english_stops]

["Can't", 'contraction']

In [41]:
portuguese_stops = set(stopwords.words('portuguese'))

In [42]:
palavras = ["Aquilo", 'é', 'uma', 'ferrari']

In [43]:
[palavra for palavra in palavras if palavra not in portuguese_stops]

['Aquilo', 'ferrari']

In [ ]:
stopwords.fileids()

In [ ]:
stopwords.words('portuguese')

### Wordnet

WordNet é um banco de dados léxico (em Inglês). É uma espécie de dicionário criado especificamente para processamento de linguagem natural.

In [46]:
from nltk.corpus import wordnet

In [47]:
?wordnet

Type:           WordNetCorpusReader
String form:    <WordNetCorpusReader in '/home/daniel/nltk_data/corpora/wordnet'>
File:           ~/anaconda3/lib/python3.7/site-packages/nltk/corpus/reader/wordnet.py
Docstring:      A corpus reader used to access wordnet or its variants.
Init docstring:
Construct a new wordnet corpus reader, with the given root
directory.

In [53]:
?wordnet.synsets

Signature: wordnet.synsets(lemma, pos=None, lang='eng', check_exceptions=True)
Docstring:
Load all synsets with a given lemma and part of speech tag.
If no pos is specified, all synsets for all parts of speech
will be loaded.
If lang is specified, all the synsets associated with the lemma name
of that language will be returned.
File:      ~/anaconda3/lib/python3.7/site-packages/nltk/corpus/reader/wordnet.py
Type:      method

In [48]:
syn = wordnet.synsets('cookbook')[0]

In [51]:
type(syn)

nltk.corpus.reader.wordnet.Synset

In [49]:
syn.name()

'cookbook.n.01'

In [50]:
syn.definition()

'a book of recipes and cooking directions'

In [52]:
wordnet.synsets('cooking')[0].examples()

['cooking can be a great art',
 'people are needed who have experience in cookery',
 'he left the preparation of meals to his wife']

## Stemming e Lemmatization

Por razões gramaticais, os documentos usarão diferentes formas de uma palavra, como por exemplo: 

organizar, organizado e organizando. 

Além disso, existem famílias de palavras derivadamente relacionadas com significados semelhantes, como democracia, democrático e democratização. Em muitas situações, pode ser útil procurar uma dessas palavras para retornar documentos que contenham outra palavra no conjunto.

O objetivo da Derivação (Stemming) e da Lematização (Lemmatization) é reduzir as formas flexionadas e, às vezes, derivadas de uma palavra para uma base comum.

### Stemming

Stemming é a técnica de remover sufixos e prefixos de uma palavra, chamada stem. Por exemplo, o stem da palavra cooking é cook. Um bom algoritmo sabe que "ing" é um sufixo e pode ser removido. Stemming é muito usado em mecanismos de buscas para indexação de palavras. Ao invés de armazenar todas as formas de uma palavra, um mecamismo de busca armazena apenas o stem da palavra, reduzindo o tamanho do índice e aumentando a performance do processo de busca.

In [54]:
from nltk.stem import PorterStemmer

In [ ]:
?PorterStemmer

In [56]:
porter_stemmer = PorterStemmer()

In [57]:
porter_stemmer.stem('cooking')

'cook'

In [58]:
porter_stemmer.stem('cookery')

'cookeri'

In [59]:
from nltk.stem import LancasterStemmer

In [61]:
lanc_stemmer = LancasterStemmer()

In [62]:
lanc_stemmer.stem('cooking')

'cook'

In [63]:
lanc_stemmer.stem('cookery')

'cookery'

In [64]:
from nltk.stem import RegexpStemmer

In [65]:
regexp_stemmer = RegexpStemmer('ing')

In [66]:
regexp_stemmer.stem('cooking')

'cook'

In [67]:
lista_palavras = ["cat", "cats", "know", "knowing", "time", "timing", "football", "footballers"]

In [68]:
porter_stemmer = PorterStemmer()

In [69]:
for palavra in lista_palavras:
    print(palavra + ' -> ' + porter_stemmer.stem(palavra))

cat -> cat
cats -> cat
know -> know
knowing -> know
time -> time
timing -> time
football -> footbal
footballers -> footbal

In [70]:
def SentenceStemmer(sentence):
    tokens = word_tokenize(sentence)
    stems = [porter_stemmer.stem(token) for token in tokens]
    return " ".join(stems)

In [ ]:
SentenceStemmer('The cats and dogs are running')

### Lemmatization

Lemmatization leva em consideração a análise morfológica das palavras. Para fazer isso, é necessário ter dicionários detalhados nos quais o algoritmo possa procurar para vincular o formulário ao seu lema. Veja um exemplo:

- Forma flexionada: organizando
- Lema: organiza

- Forma flexionada: organizado
- Lema: organiza

Com Lemmatization as duas formas flexionadas organizando e organizado seria representadas somente pelo lema organiza.

In [71]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to /home/daniel/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [72]:
wordnet_lemmatizer = WordNetLemmatizer()

In [73]:
print(wordnet_lemmatizer.lemmatize('mice'))
print(wordnet_lemmatizer.lemmatize('cacti'))  # plural da palavra cactus - cactuses (inglês) ou cacti (latin)
print(wordnet_lemmatizer.lemmatize('horses'))
print(wordnet_lemmatizer.lemmatize('wolves'))

mouse
cactus
horse
wolf

In [74]:
print(wordnet_lemmatizer.lemmatize('madeupwords'))
print(porter_stemmer.stem('madeupwords'))

madeupwords
madeupword

In [ ]:
from nltk import pos_tag

Part-of-Speech Tag (PoS-Tag)

http://www.nltk.org/book/ch05.html

In [ ]:
def return_word_pos_tuples(sentence):
    return pos_tag(word_tokenize(sentence))

In [ ]:
sentence = 'The cats and dogs are running'

In [ ]:
return_word_pos_tuples(sentence)

In [ ]:
def get_pos_wordnet(pos_tag):
    pos_dict = {"N": wordnet.NOUN,
                "V": wordnet.VERB,
                "J": wordnet.ADJ,
                "R": wordnet.ADV}

    return pos_dict.get(pos_tag[0].upper(), wordnet.NOUN)

In [ ]:
get_pos_wordnet('VBG')

In [ ]:
def lemmatize_with_pos(sentence):
    new_sentence = []
    tuples = return_word_pos_tuples(sentence)
    for tup in tuples:
        pos = get_pos_wordnet(tup[1])
        lemma = wordnet_lemmatizer.lemmatize(tup[0], pos = pos)
        new_sentence.append(lemma)
    return new_sentence

In [ ]:
print(lemmatize_with_pos(sentence))

### Corpus

Corpus é uma coleção de documentos de texto e Corpora é o plural de Corpus. Esse termo vem da palavra em Latim para corpo (nesse caso, o corpo de um texto). Um Corpus customizado é uma coleção de arquivos de texto organizados em um diretório.

Se você for treinar seu próprio modelo como parte de um processo de classificação de texto (como análise de texto), você terá que criar seu próprio Corpus e treiná-lo.

In [76]:
import os
from nltk.corpus.reader.plaintext import PlaintextCorpusReader

In [77]:
corpusdir = 'corpus/'

In [78]:
newcorpus = PlaintextCorpusReader(corpusdir, '.*')

In [79]:
newcorpus.fileids()

['.ipynb_checkpoints/palavras1-checkpoint.txt',
 'palavras1.txt',
 'palavras2.txt',
 'palavras3.txt']

In [80]:
# Acessando cada arquivo no Corpus com loop for
for infile in sorted(newcorpus.fileids()):
    print(infile)

.ipynb_checkpoints/palavras1-checkpoint.txt
palavras1.txt
palavras2.txt
palavras3.txt

In [81]:
# Acessando cada arquivo no Corpus com list comprehension
[arquivo for arquivo in sorted(newcorpus.fileids())]

['.ipynb_checkpoints/palavras1-checkpoint.txt',
 'palavras1.txt',
 'palavras2.txt',
 'palavras3.txt']

In [82]:
# Conteúdo do Corpus
print(newcorpus.raw().strip())

Big Data
Data Science
Inteligência Artificial
Deep LearningBig Data
Data Science
Inteligência Artificial
Deep LearningMercado de Trabalho
Cientista de Dados
Engenheiro de Machine Learning
Engenheiro de IAEmpresas
Recursos Humanos
Pessoas
Contratação

In [83]:
# Conteúdo do Corpus tokenizado por parágrafo (nova linha)
print(newcorpus.paras())

[[['Big', 'Data', 'Data', 'Science', 'Inteligência', 'Artificial', 'Deep', 'Learning']], [['Big', 'Data', 'Data', 'Science', 'Inteligência', 'Artificial', 'Deep', 'Learning']], ...]

In [84]:
# Conteúdo do Corpus tokenizado por sentença (nova linha)
print(newcorpus.sents())

[['Big', 'Data', 'Data', 'Science', 'Inteligência', 'Artificial', 'Deep', 'Learning'], ['Big', 'Data', 'Data', 'Science', 'Inteligência', 'Artificial', 'Deep', 'Learning'], ...]

In [85]:
# Conteúdo do Corpus tokenizado por sentença por arquivo
print(newcorpus.sents(newcorpus.fileids()[0]))

[['Big', 'Data', 'Data', 'Science', 'Inteligência', 'Artificial', 'Deep', 'Learning']]

O NLTK traz diversos Corpus e Corpora que podem ser usados para os mais variados fins. Vamos expermentar o Corpus do Projeto Gutenberg: https://www.gutenberg.org/

In [86]:
from nltk.corpus import gutenberg as gt

In [87]:
print(gt.fileids())

['austen-emma.txt', 'austen-persuasion.txt', 'austen-sense.txt', 'bible-kjv.txt', 'blake-poems.txt', 'bryant-stories.txt', 'burgess-busterbrown.txt', 'carroll-alice.txt', 'chesterton-ball.txt', 'chesterton-brown.txt', 'chesterton-thursday.txt', 'edgeworth-parents.txt', 'melville-moby_dick.txt', 'milton-paradise.txt', 'shakespeare-caesar.txt', 'shakespeare-hamlet.txt', 'shakespeare-macbeth.txt', 'whitman-leaves.txt']

In [88]:
shakespeare_macbeth = gt.words("shakespeare-macbeth.txt")
print(shakespeare_macbeth)

['[', 'The', 'Tragedie', 'of', 'Macbeth', 'by', ...]

In [ ]:
raw = gt.raw("shakespeare-macbeth.txt")
print(raw)

[The Tragedie of Macbeth by William Shakespeare 1603]


Actus Primus. Scoena Prima.

Thunder and Lightning. Enter three Witches.

  1. When shall we three meet againe?
In Thunder, Lightning, or in Raine?
  2. When the Hurley-burley's done,
When the Battaile's lost, and wonne

In [90]:
sents = gt.sents("shakespeare-macbeth.txt")
print(sents)

[['[', 'The', 'Tragedie', 'of', 'Macbeth', 'by', 'William', 'Shakespeare', '1603', ']'], ['Actus', 'Primus', '.'], ...]

In [ ]:
for fileid in gt.fileids():
    num_words = len(gt.words(fileid))
    num_sents = len(gt.sents(fileid))
    print("Dados do Arquivo:", fileid)
    print("Número de Palavras:", num_words)
    print("Número de Frases:", num_sents, end = "\n\n\n")

## Lab - Collocations e Processamento de Comentários de Avaliações de Hotéis

Collocations são duas ou mais palavras que tendem a aparecer frequentemente juntas, como "Estados Unidos", "Rio Grande do Sul" ou "Machine Learning". Essas palavras podem gerar diversas combinações e por isso o contexto também é importante no processamento de linguagem natural.

Os dois tipos mais comuns de Collocations são bigramas e trigramas. Bigramas são duas palavras adjacentes, como "tomografia computadorizada", "aprendizado de máquina" ou "mídia social". Trigramas são três palavras adjacentes, como "fora do negócio" ou "Proctor and Gamble".

- Bigramas: (Nome, Nome), (Adjetivo, Nome)
- Trigramas: (Adjetivo/Nome, Qualquer_Item, Adjetivo/Nome)

Mas se escolhermos palavras adjacentes como bigrama ou trigramas, não obteremos frases significativas. Por exemplo, a frase 'Ele usa mídias sociais' contém bigramas: 'Ele usa', 'usa mídias', 'mídias sociais'. "Ele usa" e "usa mídias" não significa nada, enquanto "mídias sociais" é um bigrama significativo. 

Como fazemos boas seleções para Collocations? As co-ocorrências podem não ser suficientes, pois frases como 'assim como' podem co-ocorrer com frequência, mas não são significativas. Vamos explorar vários métodos para filtrar as Collocations mais significativas: contagem de frequências, informação mútua pontual (PMI) e teste de hipóteses (teste t e qui-quadrado).

### Definição do Problema

Dado um conjunto de texto de avaliações (comentários) de hotéis, vamos buscar as Collocations mais relevantes que ajudam a explicar as avaliações!

In [ ]:
# Se necessário, instale pacotes que não estejam instalados
!pip install -q spacy

In [92]:
# Imports
import pandas as pd
import nltk
import spacy
import re
import string
from nltk.corpus import stopwords

In [93]:
# Se necessário, faça o download das stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/daniel/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [94]:
# Carregando dados de avaliações de hotéis
# Fonte de dados: https://datafiniti.co/products/business-data/
avaliacoes_hoteis = pd.read_csv('https://raw.githubusercontent.com/dsacademybr/Datasets/master/dataset7.csv')

In [97]:
# Visualiza os dados
avaliacoes_hoteis.head(2)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,reviews.dateSeen,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sourceURLs,websites
0,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-03T00:00:00Z,2016-07-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Our experience at Rancho Valencia was absolute...,Best romantic vacation ever!!!!,NaN,NaN,Paula,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
1,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-02T00:00:00Z,2016-08-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Amazing place. Everyone was extremely warm and...,Sweet sweet serenity,NaN,NaN,D,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com

In [98]:
# Tipo do objeto
type(avaliacoes_hoteis)

pandas.core.frame.DataFrame

In [99]:
# Shape
avaliacoes_hoteis.shape

(10000, 25)

In [ ]:
# salvar dataframe em /
avaliacoes_hoteis.to_csv("dados/avaliacoes_hoteis.csv")

In [110]:
# Extraindo as avaliações
comentarios = avaliacoes_hoteis['reviews.text']

In [111]:
type(comentarios)

pandas.core.series.Series

In [112]:
comentarios.shape

(10000,)

In [141]:
comentarios.dtype

dtype('O')

In [140]:
# Converte para o tipo string
comentarios = comentarios.astype('str')

In [116]:
# Função para remover caracteres non-ascii 
def removeNoAscii(s): 
    return "".join(i for i in s if ord(i) < 128)

In [145]:
# teste
removeNoAscii("¥¥¥345abc&£££")

'345abc&'

In [117]:
# Remove caracteres non-ascii 
comentarios = comentarios.map(lambda x: removeNoAscii(x))

In [118]:
print(comentarios)

0       Our experience at Rancho Valencia was absolute...
1       Amazing place. Everyone was extremely warm and...
2       We booked a 3 night stay at Rancho Valencia to...
3       Currently in bed writing this for the past hr ...
4       I live in Md and the Aloft is my Home away fro...
                              ...
9995    It is hard for me to review an oceanfront hote...
9996    I live close by, and needed to stay somewhere ...
9997    Rolled in 11:30 laid out heads down woke up to...
9998    Absolutely terrible..I was told I was being gi...
9999    Filthy, outdated, noisy neighbours, but this w...
Name: reviews.text, Length: 10000, dtype: object

In [149]:
nltk.corpus.stopwords.fileids()

['arabic',
 'azerbaijani',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'greek',
 'hungarian',
 'indonesian',
 'italian',
 'kazakh',
 'nepali',
 'norwegian',
 'portuguese',
 'romanian',
 'russian',
 'slovene',
 'spanish',
 'swedish',
 'tajik',
 'turkish']

In [161]:
# Obtém as stopwords em todos os idiomas
# quebra de linha \
dicionario_stopwords = {lang: set(nltk.corpus.stopwords.words(lang)) \
                        for lang in nltk.corpus.stopwords.fileids()}

In [ ]:
dicionario_stopwords

In [156]:
?nltk.wordpunct_tokenize

Signature: nltk.wordpunct_tokenize(text)
Docstring:
Return a tokenized copy of *s*.

:rtype: list of str
File:      ~/anaconda3/lib/python3.7/site-packages/nltk/tokenize/regexp.py
Type:      method

#### Digerindo a funcao que identifica idiomas

In [171]:
palavras = set(nltk.wordpunct_tokenize("Meu mundo é bonito!"))

In [172]:
palavras

{'!', 'Meu', 'bonito', 'mundo', 'é'}

In [173]:
type(palavras)

set

In [175]:
listaT = [(lang, len(palavras & stopwords)) for lang, stopwords in dicionario_stopwords.items()]

In [178]:
listaT

[('arabic', 0),
 ('azerbaijani', 0),
 ('danish', 0),
 ('dutch', 0),
 ('english', 0),
 ('finnish', 0),
 ('french', 0),
 ('german', 0),
 ('greek', 0),
 ('hungarian', 0),
 ('indonesian', 0),
 ('italian', 0),
 ('kazakh', 0),
 ('nepali', 0),
 ('norwegian', 0),
 ('portuguese', 1),
 ('romanian', 0),
 ('russian', 0),
 ('slovene', 0),
 ('spanish', 0),
 ('swedish', 0),
 ('tajik', 0),
 ('turkish', 0)]

In [179]:
max(listaT, key = lambda x: x[1])

('portuguese', 1)

In [180]:
max(listaT, key = lambda x: x[1])[0]

'portuguese'

In [162]:
# Função para detectar o idioma predominante com base nas stopwords
def descobre_idioma(text):
    
    # Aplica tokenização considerando pontuação
    palavras = set(nltk.wordpunct_tokenize(text.lower()))
    
    # Conta o total de palavras tokenizadas considerando o dicionário de stopwords
    lang = max(((lang, len(palavras & stopwords)) for lang, stopwords in dicionario_stopwords.items()), \
               key = lambda x: x[1])[0]
    
    # Verifica se o idioma é português
    if lang == 'portuguese':
        return True
    else:
        return False

In [123]:
# Filtra somente os comentários em português
comentarios_portugues = comentarios[comentarios.apply(descobre_idioma)]

In [124]:
# Shape
comentarios_portugues.shape

(4,)

In [125]:
# Print
comentarios_portugues

5531    Hotel confortavel, porem com algumas instalaco...
5658    Adorei! Recomendo a todos! Apesar de nao ficar...
5693    O hotel e meio longe do centro de Washington, ...
5765    Perto de uma estacao de metro. Transporte grat...
Name: reviews.text, dtype: object

In [126]:
# Função para detectar o idioma predominante com base nas stopwords
def descobre_idioma(text):
    words = set(nltk.wordpunct_tokenize(text.lower()))
    lang = max(((lang, len(words & stopwords)) for lang, stopwords in dicionario_stopwords.items()), key = lambda x: x[1])[0]
    if lang == 'english':
        return True
    else:
        return False

In [127]:
# Filtra somente os comentários em português
comentarios_ingles = comentarios[comentarios.apply(descobre_idioma)]

In [128]:
# Shape
comentarios_ingles.shape

(9725,)

In [129]:
# Print
comentarios_ingles.head()

0    Our experience at Rancho Valencia was absolute...
1    Amazing place. Everyone was extremely warm and...
2    We booked a 3 night stay at Rancho Valencia to...
3    Currently in bed writing this for the past hr ...
4    I live in Md and the Aloft is my Home away fro...
Name: reviews.text, dtype: object

In [130]:
# Removendo duplicidades
comentarios_ingles.drop_duplicates(inplace = True)

In [131]:
# Shape
comentarios_ingles.shape

(9718,)

In [132]:
# Baixando o dicionário inglês
# https://spacy.io/usage/models
!python -m spacy download en_core_web_sm

Requirement already satisfied: en_core_web_sm==2.3.1 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm==2.3.1 in /home/daniel/anaconda3/lib/python3.7/site-packages (2.3.1)
Requirement already satisfied: spacy<2.4.0,>=2.3.0 in /home/daniel/anaconda3/lib/python3.7/site-packages (from en_core_web_sm==2.3.1) (2.3.4)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (2.0.4)
Requirement already satisfied: setuptools in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (41.4.0)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (7.4.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (0.8.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.0.4)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.1.3)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.0.0)
Requirement already satisfied: blis<0.8.0,>=0.4.0; python_version >= "3.6" in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (0.7.3)
Requirement already satisfied: numpy>=1.15.0 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.17.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (3.0.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (2.22.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (4.53.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /home/daniel/anaconda3/lib/python3.7/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.0.4)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /home/daniel/anaconda3/lib/python3.7/site-packages (from catalogue<1.1.0,>=0.0.7->spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (2.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/daniel/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (2020.6.20)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/daniel/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/daniel/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in /home/daniel/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (2.8)
Requirement already satisfied: zipp>=0.5 in /home/daniel/anaconda3/lib/python3.7/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (0.6.0)
Requirement already satisfied: more-itertools in /home/daniel/anaconda3/lib/python3.7/site-packages (from zipp>=0.5->importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (7.2.0)
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

> Pode ser necessário reiniciar o Jupyter Notebook para executar a célula abaixo.

In [133]:
# Carrega o dcionário em nossa sessão SpaCy
nlp = spacy.load("en_core_web_sm")

In [134]:
# Função para limpar e lematizar os comentários
def limpa_comentarios(text):
    
    # Remove pontuação usando expressão regular
    regex = re.compile('[' + re.escape(string.punctuation) + '\\r\\t\\n]')
    nopunct = regex.sub(" ", str(text))
    
    # Usa o SpaCy para lematização
    doc = nlp(nopunct, disable = ['parser', 'ner'])
    lemma = [token.lemma_ for token in doc]
    return lemma

In [135]:
# Aplica a função aos dados
comentarios_ingles_lemmatized = comentarios_ingles.map(limpa_comentarios)

In [136]:
# Coloca tudo em minúsculo
comentarios_ingles_lemmatized = comentarios_ingles_lemmatized.map(lambda x: [word.lower() for word in x])

In [137]:
# Visualiza os dados
comentarios_ingles_lemmatized.head()

0    [-pron-, experience, at, rancho, valencia, be,...
1    [amazing, place,  , everyone, be, extremely, w...
2    [-pron-, book, a, 3, night, stay, at, rancho, ...
3    [currently, in, bed, write, this, for, the, pa...
4    [-pron-, live, in, md, and, the, aloft, be, -p...
Name: reviews.text, dtype: object

In [182]:
# Vamos tokenizar os comentários
comentarios_tokens = [item for items in comentarios_ingles_lemmatized for item in items]

In [186]:
# Tokens
comentarios_tokens[:8]

['-pron-',
 'experience',
 'at',
 'rancho',
 'valencia',
 'be',
 'absolutely',
 'perfect']

In [184]:
type(comentarios_tokens)

list

### Estratégia 1 - Buscando Bigramas e Trigramas Mais Relevantes nos Comentários Por Frequência

Nossa primeira estratégia é a mais simples de todas: contagem de frequência. Contamos quantas vezes cada Collocation aparece no texto e filtramos pelos Collocations mais frequentes.

Vamos filtrar apenas os adjetivos e substantivos para reduzir o tempo de processamento e vamos contar a frequência dos Collocations, bigramas e trigramas, nos comentários.

In [187]:
# Métricas de associação de bigramas (esse objeto possui diversos atributos, como freq, pmi, teste t, etc...)
bigramas = nltk.collocations.BigramAssocMeasures()

In [188]:
# Métricas de associação de trigramas
trigramas = nltk.collocations.TrigramAssocMeasures()

In [189]:
# O próximo passo é criar um buscador de bigramas nos tokens
buscaBigramas = nltk.collocations.BigramCollocationFinder.from_words(comentarios_tokens)

In [190]:
# Fazemos o mesmo com trigramas. Fique atento aos métodos que estão sendo usados
buscaTrigramas = nltk.collocations.TrigramCollocationFinder.from_words(comentarios_tokens)

In [191]:
# Vamos contar quantas vezes cada bigrama aparece nos tokens dos comentários
bigrama_freq = buscaBigramas.ngram_fd.items()

In [ ]:
# Frequência dos bigramas
bigrama_freq

In [193]:
type(bigrama_freq)

dict_items

dict_items([(('-pron-', 'experience'), 155), (('experience', 'at'), 59), (('at', 'rancho'), 2), (('rancho', 'valencia'), 2), (('valencia', 'be'), 1), (('be', 'absolutely'), 52), (('absolutely', 'perfect'), 6), (('perfect', 'from'), 1), (('from', 'begin'), 8), (('begin', 'to'), 19), (('to', 'end'), 11), (('end', '    '), 1), (('    ', '-pron-'), 40), (('-pron-', 'feel'), 282), (('feel', 'special'), 9), (('special', 'and'), 8), (('and', 'very'), 346), (('very', 'happy'), 57),

In [194]:
# Vamos converter o dicionário anterior em uma tabela de frequência no formato do Pandas para os bigramas
FreqTabBigramas = pd.DataFrame(list(bigrama_freq), 
                               columns = ['Bigrama', 'Freq']).sort_values(by = 'Freq', ascending = False)

In [195]:
# Visualiza a tabela
FreqTabBigramas.head(5)

            Bigrama   Freq
22      ( , -pron-)  11870
128        ( , the)   8731
102    (-pron-, be)   6833
279  (-pron-, have)   3241
288     (the, room)   3157

In [196]:
# Vamos contar quantas vezes cada trigrama aparece nos tokens dos comentários
trigrama_freq = buscaTrigramas.ngram_fd.items()

In [197]:
# Tabela de frequência no formato do Pandas para os trigramas
FreqTabTrigramas = pd.DataFrame(list(trigrama_freq), 
                                columns = ['Trigrama','Freq']).sort_values(by = 'Freq', ascending = False)

In [198]:
# Visualiza a tabela
FreqTabTrigramas.head(5)

              Trigrama  Freq
626    ( , -pron-, be)  2575
310    (the, room, be)  1640
309     ( , the, room)  1381
138   (the, staff, be)  1088
298  ( , -pron-, have)  1064

Temos muitas stopwords. Vamos removê-las.

In [199]:
# Vamos criar uma lista de stopwords
en_stopwords = set(stopwords.words('english'))

In [200]:
# Função para filtrar bigramas ADJ/NN e remover stopwords
def filtra_tipo_token_bigrama(ngram):
    
    # Verifica se é pronome
    if '-pron-' in ngram or 't' in ngram:
        return False
    
    # Loop nos ngramas para verificar se é stopword
    for word in ngram:
        if word in en_stopwords or word.isspace():
            return False
        
    # Tipos de tokens aceitáveis
    acceptable_types = ('JJ', 'JJR', 'JJS', 'NN', 'NNS', 'NNP', 'NNPS')
    
    # Subtipos
    second_type = ('NN', 'NNS', 'NNP', 'NNPS')
    
    # Tags
    tags = nltk.pos_tag(ngram)
    
    # Retorna o que queremos, ADJ/NN
    if tags[0][1] in acceptable_types and tags[1][1] in second_type:
        return True
    else:
        return False

In [201]:
# Agora filtramos os bigramas
bigramas_filtrados = FreqTabBigramas[FreqTabBigramas.Bigrama.map(lambda x: filtra_tipo_token_bigrama(x))]

In [202]:
# Visualiza a tabela
bigramas_filtrados.head(20)

                        Bigrama  Freq
193               (front, desk)   943
546           (friendly, staff)   344
372           (great, location)   334
1553           (walk, distance)   274
1125              (clean, room)   240
348           (free, breakfast)   198
686         (customer, service)   191
641               (desk, staff)   189
1733             (hotel, staff)   189
1680   (continental, breakfast)   180
1639         (comfortable, bed)   174
25100           (good, western)   168
630               (nice, hotel)   166
6185               (next, door)   158
1148             (great, place)   157
1392             (parking, lot)   144
1647             (hampton, inn)   139
3886           (good, location)   137
6000               (next, time)   135
12631              (pool, area)   127

In [203]:
# Função para filtrar trigramas ADJ/NN e remover stopwords
def filtra_tipo_token_trigrama(ngram):
    
    # Verifica se é pronome
    if '-pron-' in ngram or 't' in ngram:
        return False
    
    # Loop nos ngramas para verificar se é stopword
    for word in ngram:
        if word in en_stopwords or word.isspace():
            return False
        
    # Tipos de tokens aceitáveis
    first_type = ('JJ', 'JJR', 'JJS', 'NN', 'NNS', 'NNP', 'NNPS')
    
    # Subtipos
    second_type = ('JJ', 'JJR', 'JJS', 'NN', 'NNS', 'NNP', 'NNPS')
    
    # Tags
    tags = nltk.pos_tag(ngram)
    
    # Retorna o que queremos, ADJ/NN
    if tags[0][1] in first_type and tags[2][1] in second_type:
        return True
    else:
        return False

In [204]:
# Agora filtramos os trigramas
trigramas_filtrados = FreqTabTrigramas[FreqTabTrigramas.Trigrama.map(lambda x: filtra_tipo_token_trigrama(x))]

In [45]:
# Visualiza a tabela
trigramas_filtrados.head(20)

                                  Trigrama  Freq
759                   (front, desk, staff)   162
8441                  (non, smoking, room)    40
50170                 (front, desk, clerk)    38
26902                   (regis, new, york)    37
119596             (holiday, inn, express)    32
71764          (suites, anaheim, maingate)    30
50060                   (flat, screen, tv)    29
64829                (hilton, garden, inn)    29
71766              (maingate, near, angel)    27
26998   (octavia, margineanhotel, manager)    24
57163               (hampton, inn, suites)    23
24435                 (good, night, sleep)    21
26653                    (new, york, city)    20
50576                  (first, time, stay)    19
36210                (front, desk, people)    19
818         (excellent, customer, service)    17
58894                (front, desk, person)    17
2639             (air, conditioning, unit)    16
6981            (great, customer, service)    16
41181                    (hard, boil, egg)    15

Já temos os bigramas e trigramas mais relevantes por frequência. Vamos usar os outros métodos e depois comparar todos eles.

### Estratégia 2 - Buscando Bigramas e Trigramas Mais Relevantes nos Comentários Por PMI

PMI significa Pointwise Mutual Information

PMI é um score que mede a probabilidade com que as palavras co-ocorrem mais do que se fossem independentes. No entanto, é muito sensível à combinação rara de palavras. Por exemplo, se um bigrama aleatório 'abc xyz' aparecer e nem 'abc' nem 'xyz' aparecerem em nenhum outro lugar do texto, 'abc xyz' será identificado como bigrama altamente significativo quando poderia ser apenas um erro ortográfico aleatório ou um frase muito rara para generalizar como um bigrama. Portanto, esse método é frequentemente usado com um filtro de frequência.

In [46]:
# Vamos retornar somente bigramas com 20 ou mais ocorrências
buscaBigramas.apply_freq_filter(20)

In [47]:
# Criamos a tabela
PMITabBigramas = pd.DataFrame(list(buscaBigramas.score_ngrams(bigramas.pmi)), 
                              columns = ['Bigrama', 'PMI']).sort_values(by = 'PMI', ascending = False)

In [48]:
# Visualiza a tabela
PMITabBigramas.head(5)

                     Bigrama        PMI
0             (sarah, junge)  14.480538
1            (santa, monica)  14.431628
2  (octavia, margineanhotel)  14.384322
3            (dixie, krauss)  14.294125
4               (honua, kai)  14.294125

In [49]:
# Vamos retornar somente trigramas com 20 ou mais ocorrências
buscaTrigramas.apply_freq_filter(20)

In [50]:
# Criamos a tabela
PMITabTrigramas = pd.DataFrame(list(buscaTrigramas.score_ngrams(trigramas.pmi)), 
                               columns = ['Trigrama', 'PMI']).sort_values(by = 'PMI', ascending = False)

In [51]:
# Visualiza a tabela
PMITabTrigramas.head(5)

                             Trigrama        PMI
0  (octavia, margineanhotel, manager)  25.164421
1             (maingate, near, angel)  24.668123
2         (suites, anaheim, maingate)  24.647750
3       (towneplace, suites, anaheim)  24.477825
4              (near, angel, stadium)  23.732663

### Estratégia 3 - Buscando Bigramas e Trigramas Mais Relevantes nos Comentários Por Teste t

O Teste t é um teste estatístico que assume uma distribuição normal dos dados. Na prática, é um teste de hipóteses, uma das bases da Inferência Estatistica.

- H0 é a hipótese nula, que palavras ocorrem em conjunto (bigramas ou trigramas) com determinada probabilidade.
- H1 é a hipótese alternativa, que palavras não ocorrem em conjunto (bigramas ou trigramas) com determinada probabilidade.

Ao aplicar o Teste t rejeitamos ou não a H0 através do cálculo de um score e assim representamos os Collocations mais relevantes no texto.

In [52]:
# Criamos a tabela para os bigramas
# Observe como o resultado do teste t é obtido: buscaBigramas.score_ngrams(bigramas.student_t)
TestetTabBigramas = pd.DataFrame(list(buscaBigramas.score_ngrams(bigramas.student_t)), 
                             columns = ['Bigrama', 'Teste-t']).sort_values(by = 'Teste-t', ascending = False)

In [53]:
# Vamos aplicar o filtro pelo tipo de token conforme aplicamos no método 1
bigramas_t_filtrados = TestetTabBigramas[TestetTabBigramas.Bigrama.map(lambda x: filtra_tipo_token_bigrama(x))]

In [54]:
# Visualiza a tabela
bigramas_t_filtrados.head(5)

               Bigrama    Teste-t
25       (front, desk)  30.635746
96   (friendly, staff)  17.849233
100  (great, location)  17.698775
119   (walk, distance)  16.516868
174  (free, breakfast)  13.799874

In [55]:
# Criamos a tabela para os trigramas
TestetTabTrigramas = pd.DataFrame(list(buscaTrigramas.score_ngrams(trigramas.student_t)), 
                                  columns = ['Trigrama', 'Teste-t']).sort_values(by = 'Teste-t', ascending = False)

In [56]:
# Vamos aplicar o filtro pelo tipo de token conforme aplicamos no método 1
trigramas_t_filtrados = TestetTabTrigramas[TestetTabTrigramas.Trigrama.map(lambda x: filtra_tipo_token_trigrama(x))]

In [57]:
# Visualiza a tabela
trigramas_t_filtrados.head(5)

                     Trigrama    Teste-t
133      (front, desk, staff)  12.726861
878      (non, smoking, room)   6.324501
946      (front, desk, clerk)   6.164333
973        (regis, new, york)   6.082761
1231  (holiday, inn, express)   5.656853

### Estratégia 4 - Buscando Bigramas e Trigramas Mais Relevantes nos Comentários Por Teste do Qui-quadrado

O teste do qui-quadrado é uma alternativa ao teste t. O teste do qui-quadrado assume na hipótese nula que as palavras são independentes, assim como no teste t.

In [58]:
# Prepara a tabela
# Observe como estamos coletando a estatística qui-quadrado: buscaBigramas.score_ngrams(bigramas.chi_sq)
QuiTabBigramas = pd.DataFrame(list(buscaBigramas.score_ngrams(bigramas.chi_sq)), 
                              columns = ['Bigrama', 'Qui']).sort_values(by = 'Qui', ascending = False)

In [60]:
# Visualiza a tabela
QuiTabBigramas.head(5)

                     Bigrama            Qui
0               (honua, kai)  622759.939306
1            (dixie, krauss)  602669.999877
2                   (wi, fi)  581568.679255
3  (octavia, margineanhotel)  513238.451417
4             (sarah, junge)  480054.206713

In [61]:
# Prepara a tabela
QuiTabTrigramas = pd.DataFrame(list(buscaTrigramas.score_ngrams(trigramas.chi_sq)), 
                               columns = ['Trigrama', 'Qui']).sort_values(by = 'Qui', ascending = False)

In [62]:
# Visualiza a tabela
QuiTabTrigramas.head(5)

                             Trigrama           Qui
0  (octavia, margineanhotel, manager)  9.025196e+08
1         (suites, anaheim, maingate)  7.885578e+08
2       (towneplace, suites, anaheim)  7.476702e+08
3             (maingate, near, angel)  7.197947e+08
4              (near, angel, stadium)  3.345487e+08

### Comparação e Resultado Final

In [63]:
# Vamos extrair os 10 Collocations bigramas mais relevantes de acordo com cada um dos 4 métodos usados
# Lembre-se que aplicamos filtros para remover as stopwords e devemos usar a tabela filtrada
metodo1_bigrama = bigramas_filtrados[:10].Bigrama.values
metodo2_bigrama = PMITabBigramas[:10].Bigrama.values
metodo3_bigrama = bigramas_t_filtrados[:10].Bigrama.values
metodo4_bigrama = QuiTabBigramas[:10].Bigrama.values

In [64]:
# Vamos extrair os 10 Collocations trigramas mais relevantes de acordo com cada um dos 4 métodos usados
# Lembre-se que aplicamos filtros para remover as stopwords e devemos usar a tabela filtrada
metodo1_trigrama = trigramas_filtrados[:10].Trigrama.values
metodo2_trigrama = PMITabTrigramas[:10].Trigrama.values
metodo3_trigrama = trigramas_t_filtrados[:10].Trigrama.values
metodo4_trigrama = QuiTabTrigramas[:10].Trigrama.values

In [65]:
# Vamos criar um super dataframe com todos os resultados para bigramas
comparaBigramas = pd.DataFrame([metodo1_bigrama, metodo2_bigrama, metodo3_bigrama, metodo4_bigrama]).T

In [66]:
# Nossa tabela precisa de nomes para as colunas
comparaBigramas.columns = ['Frequência', 
                           'PMI', 
                           'Teste-t', 
                           'Teste Qui-quadrado']

In [70]:
# Visualiza a tabela - Padrão CSS
comparaBigramas.style.set_properties(**{'background-color': 'blue', 
                                        'color': 'pink', 
                                        'border-color': 'pink'})

In [71]:
# Vamos criar um super dataframe com todos os resultados para trigramas
comparaTrigramas = pd.DataFrame([metodo1_trigrama, metodo2_trigrama, metodo3_trigrama, metodo4_trigrama]).T

In [72]:
# Nossa tabela precisa de nomes para as colunas
comparaTrigramas.columns = ['Frequência', 
                            'PMI', 
                            'Teste-t', 
                            'Teste Qui-quadrado']

In [73]:
# Visualiza a tabela
comparaTrigramas.style.set_properties(**{'background-color': 'blue', 
                                         'color': 'white', 
                                         'border-color': 'white'})

### Conclusão

Podemos ver que os métodos PMI e Qui-quadrado fornecem bons resultados. Seus resultados também são semelhantes. 

Mas os métodos de Frequência e Teste-t apresentam os melhores resutados e são também muito semelhantes entre si. 

Em aplicativos reais, podemos observar a lista e definir um limite em um valor a partir de quando a lista para de fazer sentido. Também podemos fazer testes diferentes para ver qual lista parece fazer mais sentido para um determinado conjunto de dados. 

Como alternativa, podemos combinar resultados de várias listas. Uma boa escolha é multiplicar o PMI e a Frequência para levar em consideração o aumento da probabilidade e a frequência da ocorrência. Ou multiplicar a frequência pelo Teste-t criando assim um índice único de relevância das Collocations.

Para este trabalho, vamos considerar as Collocations calculadas por Frequência como as mais relevantes. A escolha se deve ao fato de que as suposições para o Teste-t não foram validadas e usar seu resultado seria inadequado. Salvamos a coluna de frequência do dataframe final em formato csv ou txt e encaminhamos à área de Marketing da rede de hotéis.

Você pode continuar o trabalho e alterar os métodos acima, se desejar.

# Fim